<%- include("partials/header"); %>

<div class="educator-edit-profile-container">
  <!-- Image container -->
  <div class="educator-profile-image-container">
      <img src="/paperplaneowlbooks.png" alt="Owl and Paper Airplane" class="decorative-sp-image">
  </div>
  
  <!-- Form container -->
  <div class="educator-form-container">
    <h2>Your Personal Information</h2>
    <form class="edu-profile-form">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" placeholder="Enter your first name" required />

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" placeholder="Enter your last name" required />

      <label for="school">Current School</label>
      <input type="text" name="school" placeholder="Enter your current school" required />

      <button type="submit" class="save-changes-button">Save Changes</button>
    </form>
  </div>
</div>

<script>
  const form = document.querySelector(".profile-form");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const firstName = form.firstName.value;
    const lastName = form.lastName.value;
    const school = form.school.value;
    const id = "<%= user._id %>";

    try {
      const res = await fetch(`/educator-profile/${id}/edit`, {
        method: "PUT",
        body: JSON.stringify({ firstName, lastName, school }),
        headers: { "Content-Type": "application/json" }
      });

      const data = await res.json();
      if (data.error) {
        console.log(data.error);
      }
      if (data.success) {
        location.assign(`/educator-home/${id}`);
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include("partials/footer"); %>
