<%- include("partials/header"); %>

<div class="Extracurriculars">
    <div class="extracurriculars-container">
        <!-- Scholarship Cards Section -->
        <div class="extracurriculars-section" id="extracurricularsContainer">
            
            <!-- Add more cards as needed -->
        </div>

        <!-- Filter Section -->
        <div class="Extracurriculars-Right">
            <div class="filter-section">
                <input type="text" placeholder="Search..." class="search-bar">
                <div class="filters">
                    <label for="type">Interests</label>
                    <select id="type">
                        <option value="all">All</option>
                        <option value="Arts">Arts</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Math">Math</option>
                        <option value="Politics">Politics</option>
                        <option value="Reading / Writing">Reading / Writing</option>
                        <option value="Sports">Sports</option>
                        <option value="History">History</option>
                        <option value="Technology">Technology</option>
                        <option value="Music">Music</option>
                        <option value="Medicine">Medicine</option>

                    </select>
                </div>
                <!-- Information Box -->
            
            </div>
            <div class="info-box-big">
                <div class="info-box">
                    <h2>Extracurriculars How-To:</h2>
                    <ol>
                        <li></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>



<%- include("partials/footer"); %>