<%- include("partials/header"); %>

<h2>Welcome to <span style="color: rgb(109, 172, 109);">NextGen</span> Scholars!</h2>

<div class="about">
  <h3>Who are we?</h3>

  NextGen Scholars is a comprehensive platform designed to address the issue of limited access to quality education for 
  underserved youth, particularly high school students from low-income backgrounds. The solution is centered around offering 
  students comprehensive educational support through personalized plans that encompass a range of opportunities, including 
  academic options, scholarships, extracurricular clubs, internships, and personal projects.
</div>

<div class="creators">
  <h3>The masterminds behind the project</h3>

  <ul>
    <li>Declan McKoen</li>
    <li>Luna Khan</li>
    <li>Michelle García</li>
    <li>Jennifer Senra</li>
  </ul>
</div>

<%- include("partials/footer"); %>