<%- include("partials/header"); %>

<div class="Internship">
    <div class="internship-container">
        <!-- Scholarship Cards Section -->
        <div class="internship-section" id="internshipContainer">
            
            <!-- Add more cards as needed -->
        </div>

        <!-- Filter Section -->
        <div class="Internship-Right">
            <div class="filter-section">
                <input type="text" placeholder="Search..." class="search-bar">
                <div class="filters">
                    <label for="year">Year</label>
                    <select id="year">
                        <option value="all">All</option>
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                    </select>

                    <label for="state">State</label>
                    <select id="state">
                        <option value="all">All States</option>
                        <option value="Alabama">Alabama</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                    </select>

                    <label for="gpa">GPA</label>
                    <select id="gpa">
                        <option value="All GPAs">All GPAs</option>
                        <option value="4.0">4.0</option>
                        <option value=">3.5">3.5 and above</option>
                        <option value=">3.0">3.0 and above</option>
                        <option value=">2.5">2.5 and above</option>
                        <option value=">2.0">2.0 and above</option>
                        <!-- Add options as needed -->
                    </select>

                    <label for="interest">Interests</label>
                    <select id="interest">
                        <option value="All">All</option>
                        <option value="Arts">Arts</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Math">Math</option>
                        <option value="Politics">Politics</option>
                        <option value="Reading / Writing">Reading / Writing</option>
                        <option value="Sports">Sports</option>
                        <option value="History">History</option>
                        <option value="Technology">Technology</option>
                        <option value="Music">Music</option>
                        <option value="Medicine">Medicine</option>

                    </select>
                </div>
                <!-- Information Box -->
            
            </div>
            <div class="info-box-big">
                <div class="info-box">
                    <h2>Scholarship Finder How-To:</h2>
                    <ol>
                        <li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include("partials/footer"); %>