<%- include("partials/header"); %>


<nav class="profile-nav">
  <p>Are you a student?</p>
  <div class="button-group">
    <button><a href="/create-student-profile">Yes</a></button>
    <button><a href="/create-educator-profile">No</a></button>
  </div>
</nav>


<%- include("partials/footer"); %>