<%- include("partials/header"); %>


<nav>

  <p>Are you a student?</p>
  <button><a href="/create-student-profile">Yes</a></button>
  <button><a href="/create-educator-profile">No</a></button>

</nav>


<%- include("partials/footer"); %>