<%- include("partials/header"); %>

<div class="container2">
  <nav class="profile-nav">
    <p>Are you a student?</p>
    <div class="button-group">
      <button class="yes-button"><a href="/create-student-profile">Yes</a></button>
      <button class="no-button"><a href="/create-educator-profile">No</a></button>
    </div>
  </nav>

  <!-- Decorative images with unique classes -->
    <img src="/puzzle-person.png" alt="Person with puzzle" class="decor-image-1 puzzle-image">
    <img src="/ribbon.png" alt="Ribbon" class="decor-image-1 ribbon-image">
    <img src="/laptop.png" alt="Laptop" class="decor-image-1 laptop-image">
</div>

<%- include("partials/footer"); %>
