/* Title Section */
.student-loans-page,
.student-loans-title {
  margin: 20px 20px;
}

.student-loans-page .student-loans-title h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 4rem;
  color: #004aad;
  margin: 0;
}

.student-loans-page .student-loans-title .quick-look {
  font-size: 2rem;
  color: #7ed957;
  margin: 10px 10px;
  font-weight: bold;
  left:20%;
}

/* Steps Section */
.loan-steps {
  display: flex;
  flex-direction: column;
  
}
.student-loans-page {
  display: flex;
  flex-direction: column;
}
.student-loans-page .loan-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.student-loans-page .loan-step .loan-step-number {
  font-size: 20rem;
  font-weight: bold;
}

.student-loans-page .loan-step .loan-step-text h2 {
  font-size: 8rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.student-loans-page .loan-step ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.student-loans-page .loan-step ul li {
  font-size:3rem;
  margin-bottom: 5px;
}

/* Background Colors for Sections */
.student-loans-page .blue-section {
  background-color: #7db3ff;
  color: white;
}

.student-loans-page .gray-section {
  background-color: #dde1e7;
  color: #333;
}

.student-loans-page .gray-section .loan-step-number {
  color: #004aad;
}

.student-loans-page .gray-section .loan-step-text h2 {
  color: #004aad;
}
